<div class="row">
  <%= render 'books/list', user: @books.user, book: @book %>

  <div class="col-md-8 offset-md-1">
        <h2>Users</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>image</th>
              <th>name</th>
            </tr>
          </thead>

          <tbody>
          <% @users.each do |book| %>
            <tr>
              <th>
                <%= image_tag @user.get_profile_image(100,100) %>
                <p><%=  link_to @user.name, user_path %></p>
              </th>
              <th><%= user.name %></th>
              <th><%= link_to "Show", user_path(@users), class: "btn btn-info btn-block" %></th>
            </tr>
          <% end %>
          </tbody>
        </table>
  </div>
</div>