<div>

  <div class="container px-5 px-sm-0">
    <%= flash[:notice] %>
    <div class="row">
      <%= render 'books/list', user: current_user, book: @book%>


      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          </thead>

          <tbody>
          <% @books.each do |book| %>
            <tr>
              <th><%= image_tag book.user.get_profile_image(100,100) %> </th>
              <th><%= link_to book.title, book_path(book.id) %></th>
              <th><%= book.body %></th>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>

  </div>
