
      <div class="col-md-3">
        <div>
          <%= flash[:notice] %>
        </div>
        <h2>User info</h2>
        <%= image_tag user.get_profile_image(100,100) %>
        <table class="table">
          <tbody>
            <tr>
              <th>name</th>
              <th><%= user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= user.introduction %></th>
            </tr>
          </tbody>
        </table>

        <% if user == current_user %>
        <p><%= link_to "プロフィール編集",edit_user_path(user.id) %></p>
        <% end %>

        <h2>New book</h2>
        <% if book.errors.any? %>
          <%= book.errors.count %> error prohibited this obj from being saved:
          <ul>
            <% book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_with model: book do |f| %>
          <p>Title</p>
          <%= f.text_field :title %>
          <p>Opinion</p>
          <%= f.text_area :body %>
          <%= f.submit 'Create Book', class: "btn btn-info btn-block" %>
        <% end %>
      </div>