<div class="container px-5 px-sm-0">
  <% if @book.errors.any? %>
    <%= @book.errors.count %> error prohibited this obj from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
    <div class="row">
      <%= render 'list', user: current_user, book: @book %>

      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          </thead>

          <tbody>
          <% @books.each do |book| %>
            <tr>
              <th>
                <%= image_tag book.user.get_profile_image(100,100) %>
                <p><%= link_to book.user.name, user_path(book.user.id) %></p>
                </th>
              <th><%= book.title %></th>
              <th><%= book.body %></th>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>