<div class="row">
  <%= render 'list',　user: @books.user, book: @book %>

  <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          </thead>

          <tbody>
          <% @books.each do |book| %>
            <tr>
              <th>
                <%= image_tag book.user.get_profile_image(100,100) %>
                <p><%=  link_to book.user.name, user_path %></p>
                </th>
              <th><%= book.title %></th>
              <th><%= book.body %></th>
            </tr>
          <% end %>
          </tbody>
        </table>
  </div>
</div>