
  <div class="container px-5 px-sm-0">

    <div class="row">
      <%= render 'list', user: @user, book: @book %>

      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th>
                <%= image_tag @book.user.get_profile_image(100,100) %>
                <p><%=  link_to @book.user.name, user_path%></p>
              </th>
              <th><%= @book.title %></th>
              <th><%= @book.body %></th>
              <% if @book.user == current_user %>
                <th><%= link_to "Edit", edit_book_path, class: "btn btn-info btn-block"  %></th>
                <th><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" , class: "btn btn-info btn-block" %></th>
              <% end %>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
