
  <div class="container px-5 px-sm-0">
    <%= flash[:notice] %>

    <div class="row">
      <%= render 'list', user: @books.user, book: @book %>

      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th>
                <%= image_tag @books.user.get_profile_image(100,100) %>
                <p><%=  link_to @books.user.name, user_path(@books.user.id) %></p>
              </th>
              <th><%= @books.title %></th>
              <th><%= @books.body %></th>
              <% if @books.user == current_user %>
                <th><%= link_to "Edit", edit_book_path , class: "btn btn-info btn-block" %></th>
                <th><%= link_to "Destroy", book_path(@books), method: :delete, "data-confirm" => "本当に消しますか？" , class: "btn btn-info btn-danger" %></th>
              <% end %>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
